<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>El-Nemr Language</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.video</string>
				<string>public.mpeg-4</string>
				<string>com.apple.quicktime-movie</string>
				<string>com.apple.m4v-video</string>
				<string>public.avi</string>
				<string>public.3gpp</string>
				<string>public.3gpp2</string>
				<string>org.webmproject.webm</string>
				<string>org.matroska.mkv</string>
				<string>com.elnemr.language.mpeg-ts</string>
				<string>com.elnemr.language.mpeg-ps</string>
				<string>com.elnemr.language.wmv</string>
				<string>com.elnemr.language.flv</string>
				<string>com.elnemr.language.ogv</string>
				<string>com.elnemr.language.realmedia</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mkv</string>
			<key>UTTypeDescription</key>
			<string>Matroska Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
					<string>mk3d</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.webmproject.webm</string>
			<key>UTTypeDescription</key>
			<string>WebM Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/webm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.elnemr.language.mpeg-ts</string>
			<key>UTTypeDescription</key>
			<string>MPEG Transport Stream</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ts</string>
					<string>m2ts</string>
					<string>mts</string>
					<string>m2t</string>
					<string>tp</string>
					<string>trp</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.elnemr.language.mpeg-ps</string>
			<key>UTTypeDescription</key>
			<string>MPEG Program Stream</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpg</string>
					<string>mpeg</string>
					<string>m1v</string>
					<string>mpv</string>
					<string>vob</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.elnemr.language.wmv</string>
			<key>UTTypeDescription</key>
			<string>Windows Media Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wmv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-ms-wmv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.elnemr.language.flv</string>
			<key>UTTypeDescription</key>
			<string>Flash Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/x-flv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.elnemr.language.ogv</string>
			<key>UTTypeDescription</key>
			<string>Ogg Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogv</string>
					<string>ogg</string>
					<string>ogm</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/ogg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.elnemr.language.realmedia</string>
			<key>UTTypeDescription</key>
			<string>RealMedia Video</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rmvb</string>
					<string>rm</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>El-Nemr Language</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.elnemr.language</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_jellyfin._tcp</string>
		<string>_emby._tcp</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>El-Nemr Language connects to your local network to discover DLNA/UPnP servers and play videos from WebDAV, Jellyfin, and Files-app bookmarked folders (including SMB shares you connect in the Files app).</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>El-Nemr Language uses the microphone for speaking, shadowing, and pronunciation practice.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>El-Nemr Language converts your spoken practice into text so it can score language-learning exercises.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
